html {
    height: 100%;
}
body{
	background:rgb(243, 212, 212);
	font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
	/* background:url(../images/bb.jpg) bottom; */
	background-color: black;
	width:100%;
	min-height:100px;
	display:block;
	background-size:cover;
	position:relative;
}
.logo {
	text-align: center;
	padding: 1em 0;
}
span.logo-inicial{
	background: url(../images/cvimg.jpg) -21px -7px;
	width: 164px;
	min-height: 164px;
	display: block;
	margin: 10px auto;
	border-radius: 150px;
}
.fullstack{
	margin-left: 100px;
	color:#8c8aa3;
	font-style: italic;
	font-size: 1.2em;
}
.nombre-inicio p{
	margin-left: 110px;
	color:#d44b9c;
	/* font-style: italic; */
	font-size: 1.2em;
}
.logo h1{
	margin:10px;
	font-size:2em;
	color:#fff;
    font-weight:400;
    text-align: center;
} 
/* .logo h1 span{
    color:#d44b9c;
} */
 .logo p {
    margin: 0;
	font-size: 2em;
	color: #d44b9c;
	font-weight: 300;
    text-align: center;
}
.logo p span {
   
    color: #7477b0;
    
}


.estilo-boton-ingreso {
   
		width: 15%;
		font-size: 1.2em;
		background: #d44b53;
		padding: 0.8em 0;
		color: #fff;
		border-radius: 5px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		-moz-border-radius: 5px;
		margin: 10px auto;
		-webkit-appearance: none;
		float: right;
		border: none;
}

.btn-ingreso {
    color: #fff;
    background-color:#7477b0;
    border-color: #575981;
}
.estilo-logo{
    text-align: left;
    padding: 10px;
   
}
span.logo-inicial2{
	background: url(../images/cvimg.jpg) -21px -7px;
	float: left;
	margin-top: 0.5em;
    width: 164px;
	min-height: 164px;
	display: block;
	margin: 10px auto;
	border-radius: 150px;
    
}
.logo-bottom{
	float: left;
	margin-top: 0.5em;
    width: 164px;
	min-height: 164px;
	display: block;
	margin: 10px auto;
	border-radius: 150px;
}
.top-nav{
	float:right;
}
.top-nav ul{
	padding: 0;
	margin: 0;
}
.top-nav ul li{
	display: inline-block;
	padding: 0.9em 2em;
}
.top-nav ul li a{
	font-size: 1.3em;
	text-decoration: none;
	color:#000;
}
.top-nav ul li a:hover{
	color:#d44c9c;
}
.top-nav span.menu{
	display:none;	
}
.top-nav span.menu:before{
	content:url("../images/menu.png");
	cursor:pointer;	
	width:100%;
}
.navbar {
position: sticky;
top: 2px;
z-index: 1000;
opacity: 0.7;
}
.about-us{
	text-align:center;
	padding:5em 0;
}
#about .about i {
	margin: 1em auto;
	font-size: 1.2em;
	line-height:33px;
	color: #a1a1a1;
	width:73%;
}
.about h3{
	margin: 0 0 0.4em;
	font-size: 2.3em;
	color: #000;
	font-weight: 400;
	text-align: center;
}
.about h3 span{
	color:#d54b54;
}
.about h4{
	margin: 0 0 1.4em;
	font-size: 1.9em;
	color: #000;
	font-weight: 400;
}
.about h4 span{
	color:#f1a957;
}
.about p{
	margin: 0 auto;
	font-size: 1.3em;
	color: #a1a1a1;
	line-height:33px;
	width:51%;
	padding:0 0 3em;
}
.about ul{
	text-align: left;
}
.about li{
	display: inline-block;
}
.h6a {
	color:#d54b54;
	font-size: 1.3em;
	
}
.h6b {
	color:#000;
	font-size: 1.3em;
	
}
.grid-about h4{
	margin: 1em 0 0em;
	font-size: 2.5em;
	color: #f1a957;
	font-weight: 400;
	font-style: italic;
}
h4.design{
	color:#807ad2;
	font-style: italic;
}
h4.set{
	color:#dc4856;
	font-style: italic;
}
.grid-about p{
	margin: 1em auto;
	font-size: 1.2em;
	line-height:33px;
	color: #a1a1a1;
	width:73%;
}
.about-grid {
	padding: 3em 0;
}
.bottom-grid{
	background:url(../images/bb.jpg) 0px 0px;
	width:100%;
	min-height:340px;
	display:block;
	background-size:cover;
}
.bottom-grid ul{
	padding: 5em 0;
	margin: 0;
}
.bottom-grid ul li{
	display: inline-block;
	padding: 2em 3.5em;
}
/*Experiencia*/
.work h3{
	margin: 0 0 ;
	font-size: 2.3em;
	color: #fff;
	font-weight: 400;
	text-align:center;
}
.work h3 span{
	color:#6b70aa;
}

/*Contacto*/
.contact{
	padding:6em 0 0;
}
.contact-form{
	text-align:center;
}
.send {
	margin: 0 0em 6em 8em;
}
.contact-top{
	text-align:center;
}
.contact-top h3{
	margin: 0 0 1.4em;
	font-size: 2.3em;
	color: #000;
	font-weight: 400;
}
.contact-top h3 span{
	color:#d54b54;
}
.contact-top p{
	margin: 0 auto;
	font-size: 1.3em;
	color: #a1a1a1;
	line-height:33px;
	width:51%;
	padding:0 0 3em;
}
.contact input[type="text"],.contact textarea,.contact input[type="submit"]{
	font-size: 1.3em;
	width: 38%;
	padding: 1em;
	margin: 1em;
	background: #f7f7f7;
	outline:none;
	border-radius: 5px;
	color: #9B98BB;
	-webkit-appearance: none;
	border:1px solid #e8e8e8;
}
.contact input[type="text"]:hover,.contact textarea:hover{
	border: 1px solid #bdbbd0;
	color:#bdbbd0;
}
.contact textarea{
	resize:none;
	width: 79%;
}
.contact input[type="submit"]{
	width: 15%;
	font-size: 1.2em;
	background: #d44b53;
	padding: 0.8em 0;
	color: #fff;
	border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 auto;
	-webkit-appearance: none;
}
.contact input[type="submit"]:hover{
	background:  #953D3C;
}
.contact-bottom{
	background:url(../images/bac.jpg) 0px 0px;
	width:100%;
	min-height:340px;
	display:block;
	background-size:cover;
}
.contact-bottom h3{
	margin: 2.5em 0 0.7em;
	font-size: 2.5em;
	color: #fff;
	font-weight: 400;
	text-align: center;
}


/*trabajos realizados*/
.portfolio-top{
	text-align:center;
}
.portfolio-top h3{
	margin: 0 0 1.4em;
	font-size: 2.3em;
	color: #000;
	font-weight: 400;
}
.portfolio-top h3 span{
	color:#d54b54;
}
.portfolio-top p{
	margin: 0 auto;
	font-size: 1.3em;
	color: #a1a1a1;
	line-height:33px;
	width:51%;
	padding:0 0 3em;
}
.portfolio {
	padding: 6em 0 12em;
}
/*----*/
.ca-icon{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/jsgarbii.jpg) no-repeat center center;
	border-radius: 20px;
	
}
.ca-icon1{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/grifo5.jpg) no-repeat center center;
	border-radius: 20px;
	
}
.ca-icon2{
	width:100%;
	height: 200px;
	display: block;
	position: relative;
	margin: 0 auto;
	background: transparent url(../images/jahro.png) no-repeat center center;
	border-radius: 20px;
}


/*--footer--*/
.footer{
	background: #000;
	/* padding: 15px 0; */
}
.logo-footer{
	float:left;
}
.footer p{
	margin:0;
	font-size: 0.9em;
	color:#6b70aa;	
	/* padding: 1.5em 0; */
}
p.footer-class{
	float: right;
}
.footer a{
	color:#fff;
	text-decoration:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.footer a:hover{
	color:#6b70aa;
}
/*--- Skills Starts Here ----*/
.skills{
	margin:2em 0;
}
.skills-top{
	padding:2em 0 0;
}
.skill-grids{
	padding:3em 0;
}

.skill-grid h3{
	color: #2b3b4b;
	font-weight:800;
	font-size:23px;
	margin-top: 0.8em;
}
.skill-grid p{
	font-weight:400;
	font-size:16px;
	line-height:1.8em;
	color:#7f8a90;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.containersk{
	width: 80%; /* Full width */
	background-color: #fff; /* Grey background */
	margin: 80px;
  }
.sk {
  text-align: center; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  font-size: 25px;
}

.html {width: 60%; background-color: #dc4856;} /* Green */

/*--- Experience Starts Here ----*/
.experience{
	background:rgb(243, 212, 212);
	min-height:1050px;
}
.exp-top{
	padding:2em 0;
}
.exp-devide{
	position:relative;
	text-align:center;
}
.exp-devide h4{
	color:#000;
	background:#7477b0;
	padding:10px;
	text-transform:uppercase;
	font-size:20px;
	display: block;
	text-align:center;
	width:15%;
	font-weight:800;
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
	margin:0 auto;
	position:relative;
}
span.devide-line{
	width:3px;
	height:470px;
	position:absolute;
	top:30px;
	display:initial;
	background:#7477b0;
}
label.bag{
	width:32px;
	height:32px;
	/* background:url(../images/bag.png)no-repeat; */
	display: initial;
	position:absolute;
	top:5em;
	left:39.7em;
}
label.book{
	width:32px;
	height:32px;
	/* background:url(../images/book.png)no-repeat; */
	display: initial;
	position:absolute;
	top:5em;
	left:39.7em;
}
.exp-devide-grid-right{
	width:40%;
	text-align:left;
	position:absolute;
	top: 7em;
	left: 43.255em;
}
.exp-devide-grid-right:before{
	/* content:url(../images/sec-d.png)no-repeat 0px 0px; */
	position:relative;
	left:-3em;
	top:1.5em;
	
}
.exp-devide-grid-right h5,.exp-devide-grid-left h5,.exp-devide-grid-rightb h5{
	color:#7477b0;
	text-transform:uppercase;
	font-size:18px;
	font-weight:800;
	margin:0;
}
.exp-devide-grid-right small,.exp-devide-grid-left small,.exp-devide-grid-rightb small{
	font-size:16px;
	font-weight:400;
	color:#2b3b4b;
	padding:0 0 10px 0;
}
.exp-devide-grid-right p,.exp-devide-grid-left p,.exp-devide-grid-rightb p{
	font-size:14px;
	font-weight:400;
	color:#2b3b4b;
	line-height:1.2em;
}
.exp-devide-grid-left{
	width:40%;
	text-align:right;
	position:absolute;
	top:12em;
	left: 5.8em;
}
.exp-devide-grid-left:before{
	/* content:url(../images/sec-d.png)no-repeat 0px 0px; */
	position:relative;
	left:3em;
	top:1.5em;
	
}
.exp-devide-grid-rightb{
	width:40%;
	text-align:left;
	position:absolute;
	top: 20em;
	left: 43.255em;
}

.exp-devide-grid-rightb:before{
	/* content:url(../images/sec-d.png)no-repeat 0px 0px; */
	position:relative;
	left:-3em;
	top:1.5em;
	
}
.education{
	margin-top:35%;
}
/*--- Experience Ends Here ----*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 25px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/up.png) no-repeat 0px 0px;
}

ul.circle{
	padding: 0;
	margin: 0;
}
 ul.circle li{
	display: inline-block;
	padding:0;
}
ul.circle li span{
	/* background: url(../images/img-sprite.png) -4px 0px; */
	width: 78px;
	min-height: 72px;
	/* display: block; */
}
ul.circle a{
	color: #000;
	font-size: 1em;
	text-decoration: none;
}
ul.circle p{
	color: black;
	font-size: 13px;
	
}
ul.circle li.search span{
	background-position: -91px 0px;
}
circle li{
	color: #000;
}
.sear-ic h6{
	margin: 1.3em 0 ;
	font-size: 2em;
	color: #000;
	font-weight: 400;
	text-align: center;
}	
.sear-ic b{
	margin: 0 0 ;
	font-size: 1.2em;
	color: #000;
	padding: 28px;
}
.sear-ic {
	width: 100%;
	height: 100%;
	padding: 0em 0;
	background: rgba(112, 113, 167, 0.9);
	opacity: 0.9;
	/* background: rgba(112, 113, 167, 0.9); */
	display:none;
	border-radius: 20px;
}
.ca-icon:hover .sear-ic ,.ca-icon1:hover .sear-ic,.ca-icon2:hover .sear-ic,.ca-icon3:hover .sear-ic,.ca-icon4:hover .sear-ic,.ca-icon5:hover .sear-ic,.ca-icon6:hover .sear-ic,.ca-icon7:hover .sear-ic{
	display:block;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
	overflow: hidden;
	/* background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url(../images/bb.jpg) fixed center center; */
	background: linear-gradient(rgba(9, 32, 32, 0.65), rgba(29, 205, 89, 0.2)), url(../images/bb.jpg) fixed center center;
	background-size: cover;
	/* padding: 80px 0; */
  }
  #call-to-action .cta-title {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
  }
  #call-to-action .cta-text {
	color: #fff;
  }
  @media (min-width: 769px) {
	#call-to-action .cta-btn-container {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}
  }
  #call-to-action .cta-btn {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 25px;
	transition: background 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
  }
  #call-to-action .cta-btn:hover {
	background: #1dc8cd;
	border: 2px solid #1dc8cd;
  }
  